<center>
  <header>
    <h1>Editing user</h1>
  </header>
  <div class="errmsg">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
  </div>
  <%= form_with(model: @user, local: true) do |form| %>

    <p class="user_label"><%= form.label :name %></p>
    <p class="user_text"><%= form.text_field :name, required: true %></p>

    <p class="user_label"><%= form.label :email %></p>
    <p class="user_text"><%= form.text_field :email, required: true %></p>

    <p class="user_label"><%= form.label :password %></p>
    <p class="user_text"><%= form.password_field :password, required: true %></p>
    
    <p class="user_label"><%= form.label :password_confirmation %></p>
    <p class="user_text"><%= form.password_field :password_confirmation, required: true %></p>

    <p class="user_label"><%= form.label :image %></p>
    <p class="user_image"><%= form.file_field :image %></p>

    <p class="submit"><%= form.submit %></p>

  <% end %>
  <%= link_to 'Back', user_path(current_user.id) %>
</center>