<center>
  <header>
    <h1>Sign up</h1>
  </header>
  <%= form_with(model: @user, local: true) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= @user.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p class="user_label"><%= f.label :名前 %></p>
    <p class="user_input"><%= f.text_field :name %><p>
  
    <p class="user_label"><%= f.label :メイル %></p>
    <p class="user_input"><%= f.email_field :email %><p>
  
    <p class="user_label"><%= f.label :パスワード %></p>
    <p class="user_input"><%= f.password_field :password %><p>
  
    <p class="user_label"><%= f.label :パスワード確認 %></p>
    <p class="user_input"><%= f.password_field :password_confirmation %><p>
  
    <p class="user_label"><%= f.label :イメージ%></p>
    <p class="user_image"><%= f.file_field :image %><p>
    
    <p class="submit"><%= f.submit "Create"%></p>
    <% end %>
</center>