<center>
  <header>
    <% if current_user_admin_check %>
      <h1>業者詳細画面</h1>
    <% else %>
      <h1>会員詳細画面</h1>
    <% end %>
  </header>
  <table>
    <tr class="tr">
      <th>name: </th>
      <td><%= @user.name %></td>
    </tr>
    <tr class="tr">
      <th>email: </th>
      <td><%= @user.email %></td>
    </tr>
    <tr class="tr">
      <th>Image: </th>
      <td><%= image_tag(@user.image.url) if @user.image.url %></td>
    </tr>
  </table>
  
  <div type="button" class="btn btn-default"><%= link_to '編集', edit_user_path(@user) %></div>
  <div type="button" class="btn btn-default"><%= link_to 'お気に入り一覧', favorites_path %></div>
</center>