<center>
  <header>
    <% if current_user_admin_check %>
      <h1>業者詳細画面</h1>
    <% else %>
      <h1>会員詳細画面</h1>
    <% end %>
  </header>
  <p>name: <%= @user.name %></p>
  <p>email: <%= @user.email %></p>
  <p>
    <strong>Image:</strong>
    <%= image_tag(@user.image.url) if @user.image.url %>
  </p>
  
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'favorite', favorites_path %>
</center>