<center>
  <header>
    <h1>Homes 投稿</h1>
  </header>
  <%= form_with(model: @home, local: true ,url: choose_new_or_edit ) do |form| %>
    <% if @home.errors.any? %>
      <div id="error_explanation">
        <h2><%= @home.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @home.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
 
    <p class="user_label"><%= form.label :家名 %></p>
    <p class="user_input"><%= form.text_field :home, required: true %></p>

    <p class="user_label"><%= form.label :敷金 %></p>
    <p class="user_input"><%= form.number_field :sikikinn , step: :any%></p>

    <p class="user_label"><%= form.label :礼金 %></p>
    <p class="user_input"><%= form.number_field :reikinn, step: :any %></p>
    
    <p class="user_label"><%= form.label :面積 %></p>
    <p class="user_input"><%= form.number_field :space, step: :any, required: true %></p>
    
    <p class="user_label"><%= form.label :地域 %></p>
    <p class="user_input"><%= form.text_field :area, required: true %></p>
    
    <p class="user_label"><%= form.label :家賃 %></p>
    <p class="user_input"><%= form.number_field :price, step: :any, required: true %></p>
    
    <p class="user_label"><%= form.label :所在地 %></p>
    <p class="user_input"><%= form.text_field :address, required: true %></p>
    
    <p class="user_label"><%= form.label :LDK %></p>
    <p class="user_input"><%= form.select :ldk,[["1R","1R"],["1K","1K"],["1DK","1DK"],["2LDK","2LDK"],["3LDK","3LDK"]] %></p>

    <p class="user_label"><%= form.label :イメージ%></p>
    <p class="user_image"><%= form.file_field :image%></p>

    <p class="submit"><%= form.submit %></p>
  <% end %>

  <%= link_to "Home一覧画面にもどる", homes_path %>
</center>