<%= search_form_for(@q, url:homes_path) do |f| %>
  <div class="search_item col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2"><%= f.label :物件名 %></div>
    <div class="col-md-4 col-lg-4"><%= f.text_field :home_cont %></div>
  </div>
  
  <div class="search_item col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2"><%= f.label :住所 %></div>
    <div class="col-md-4 col-lg-4"><%= f.text_field :address_country_or_address_state_or_address_city_or_address_address_cont %></div>
  </div>
  
  <div class="search_item col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2"><%= f.label :家賃 %></div>
    <div class="col-md-4 col-lg-4"><%= f.number_field :price_gteq , min: 0, placeholder: "最低" %></div>
    <div class="col-md-2 col-lg-2"><%= f.label :~ %></div>
    <div class="col-md-4 col-lg-4"><%= f.number_field :price_lteq, min: 0, placeholder: "最高" %></div>
  </div>

  <div class="search_item col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2"><%= f.label :面積 %></div>
    <div class="col-md-4 col-lg-4"><%= f.number_field :space_gteq, min: 0, placeholder: "最低" %></div>
    <div class="col-md-2 col-lg-2"><%= f.label :~ %></div>
    <div class="col-md-4 col-lg-4"><%= f.number_field :space_lteq, min: 0, placeholder: "最高" %></div>
  </div>
  
  <div class="search_item col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2"><%= f.label :地域 %></div>
    <div class="col-md-4 col-lg-4"><%= f.text_field :area_cont %></div>
  </div>
  
  <div class="search_item col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2"><%= f.label :問取り %></div>
    <div class="col-md-4 col-lg-4"><%= f.select :ldk_eq, options_for_select([['1R','1R'],['1K','1K'],['1DK','1DK'],['2LDK','2LDK'],['3LDK','3LDK']], @q.ldk) ,{include_blank: true},style: "width:10vw" %></div>
  </div>

  
  <div class="search_button col-md-8 col-lg-8">
    <%= f.submit %>
  </div>
<% end %>

