<center>
  <header>
    <h1>Homes 投稿確認</h1>
  </header>
  <%= form_with(model:  @home, url: homes_path, local: true) do |form| %>
    <%= form.hidden_field :home %>
    <%= form.hidden_field :sikikinn %>
    <%= form.hidden_field :reikinn %>
    <%= form.hidden_field :space %>
    <%= form.hidden_field :area %>
    <%= form.hidden_field :price %>
    <%= form.hidden_field :ldk %>
    <%= form.hidden_field :image_cache %>
    <%= form.fields_for :address do |ff| %>
      <%= ff.hidden_field :country %>
      <%= ff.hidden_field :state %>
      <%= ff.hidden_field :city %>
      <%= ff.hidden_field :address %>
    <% end %>

    

    <table>
    <tr class="tr">
      <th>不動産業者: </th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>物件名: </th>
      <td><%= @home.home %></td>
    </tr>
    <tr>
      <th>敷金: </th>
      <td><%= @home.sikikinn %></td>
    </tr>
    <tr>
      <th>礼金: </th>
      <td><%= @home.reikinn %></td>
    </tr>
    <tr>
      <th>面積: </th>
      <td><%= @home.space %></td>
    </tr>
    <tr>
      <th>地域: </th>
      <td><%= @home.area %></td>
    </tr>
    <tr>
      <th>家賃: </th>
      <td><%= @home.price %></td>
    </tr>
    <tr>
      <th>住所: </th>
      <td>
        <%= @home.address.country+ "," %><%= @home.address.state+ "," %><%= @home.address.city+ "," %><%= @home.address.address %>
      </td>
    </tr>
    <tr>
      <th>問取り: </th>
      <td><%= @home.ldk %></td>
    </tr>
    <tr>
      <th>写真: </th>
      <td>
        <%  @home.image.each do |image| %>
        <%= image_tag(image.url) if image.present? %>
        <% end %>
      </td>
    </tr>
  </table>

    <p class="submit"><%= form.submit  "投稿する" %></p>
  <% end %>
 
  <%= form_with(model: @home, url: new_home_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :home %>
    <%= form.hidden_field :sikikinn %>
    <%= form.hidden_field :sikikinn %>
    <%= form.hidden_field :reikinn %>
    <%= form.hidden_field :space %>
    <%= form.hidden_field :area %>
    <%= form.hidden_field :price %>
    <%= form.fields_for :address do |ff| %>
      <%= ff.hidden_field :country %>
      <%= ff.hidden_field :state %>
      <%= ff.hidden_field :city %>
      <%= ff.hidden_field :address %>
    <% end %>
    <%= form.hidden_field :image_cache %>

    <%= form.hidden_field :ldk %>
    
    <p class="submit"><%= form.submit "もどる", name: 'back' %></p>
  <% end %>
</center>