<center>
  <header>
    <h1>Homes 詳細画面</h1>
  </header>
  <table>
    <tr class="tr">
      <th>不動産業者: </th>
      <td><%= @home.user.name %></td>
    </tr>
    <tr>
      <th>物件名: </th>
      <td><%= @home.home %></td>
    </tr>
    <tr>
      <th>敷金: </th>
      <td><%= @home.sikikinn %></td>
    </tr>
    <tr>
      <th>礼金: </th>
      <td><%= @home.reikinn %></td>
    </tr>
    <tr>
      <th>面積: </th>
      <td><%= @home.space %></td>
    </tr>
    <tr>
      <th>地域: </th>
      <td><%= @home.area %></td>
    </tr>
    <tr>
      <th>家賃: </th>
      <td><%= @home.price %></td>
    </tr>
    <tr>
      <th>住所: </th>
      <td><%= @home.address %></td>
      <td class="blackcolor"><%= button_to '地図から確認', 'https://www.google.com/maps/place/'+@home.address, method: :get,form: {target: '_blank'} %></td>
    </tr>
    <tr>
      <th>問取り: </th>
      <td><%= @home.ldk %></td>
    </tr>
    <tr>
      <th>写真: </th>
      
      <td>
        <%  @home.image.each do |image| %>
        <%= image_tag(image.url) if image.present? %>
        <% end %>
      </td>
    </tr>
  </table>

  <% unless @home.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(home_id: @home.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
    <div type="button" class="btn btn-default"><%= link_to "お問い合わせ", homes_sendqes_path(:sendid => @home.id) %></div>
  <% else %>
  <div type="button" class="btn btn-default"><%= link_to "編集", edit_home_path(@home) %></div>
  <!--rails assets:precompile RAILS_ENV=production), data: { confirm: '本当に編集していいですか？' }-->
  <div type="button" class="btn btn-default"><%= link_to '削除', home_path(@home.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></div>
  <% end %>
  
</center>